*{
  font-family: 'Roboto', sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header input[type=text]{
  width: 30%;
  padding: .3vw 2.5vw .4vw;
  border-radius: 10vw;
  border: solid 1px #cbcbcb;
  background: url('./images/search_icon.png') no-repeat 1vw;
}
.term{
  height: 130px;
  background: #eeedf1;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 2.5em;
  color: #433e66;
  border-top: solid 2px #dbdbe2;
  border-bottom: solid 2px #dbdbe2;
}
.counter{
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 1vh 0;
  display: inline-block;
  border-bottom: solid 4px #dfbe7f;
  margin: 6vh 0;
}
.paginations{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0;
}
.paginations select{
  padding: .5vw 1.5vw .5vw .5vw;
  border-radius: .5vw;
  border: solid 1px #cbcbcb;
  -webkit-appearance: none;
  background: url('images/selectdown.png') no-repeat 11.3em;
}
.paginations .pagination > li > a, .pagination > li > span{
  border: none;
  color: #666666;
  background-color: transparent;
}
.paginations .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background: transparent;
  border: solid 1px #cbcbcb;
  border-radius: .2vw;
  color: #666666;
}
.produto{
  display: flex;
  justify-content: space-between;
  border: solid 1px #edeae9;
  padding: .5vw;
}
.produto .images{
  flex-basis: 45%;
}
.produto .images img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-right: .5vw;
}
.produto .infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}
.produto .infos span{
  color: #676767;
  font-size: .9em;
}
.produto .prices{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3em;
}
.produto .prices > div{
  display: flex;
}
.produto .prices > div > .oldprice{
  display: flex;
  align-items: center;
  color: #838383;
  font-size: .6em;
  margin-right: .5vw;
}
.produto .prices > div > .oldprice > span{
  margin-right: .2vw;
  text-decoration: line-through;
}